@media all and (max-width:768px)
{

   #header{
       width: 100%;
       flex-direction: column;
   }
   #logo{
       align-self: center;
   }
   #menu{
       display: grid;
       grid-template-columns:repeat(4,1fr);
       grid-template-rows: 1fr 1fr;
       margin-bottom: 20px;
   }
   #menu li{
       align-self: center;
   }
   .programming{
       width: 210px;
   }
   #social-icon{
       align-self: center;
       font-size: 20px;
   }
   #social-icon li{
       margin: 5px 10px;
   }
   #sub-info{
      padding-top: 10px;

   }
   #sub-info-content{
       padding-left: 7px;
   }
   #sub-info h1{
       font-size: 24px;

   }
   #sub-info p{
       font-size: 15px;
   }
   #sub-info img{
       width: 650px;
       height: 550px;
   }
  #program-div{
    flex-direction: column;
}
#pre-program p{
    display: none;
}
#pre-program h2{
   align-self: center;
   margin-top: 0px;
   margin-bottom: 10px;
}
#programs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 20px;
}
.box5{
    grid-row: 2/3;
    grid-column: 3/4;
}
}